@()
<html>
<head>
    <title>
        เกี่ยวกับร้าน
    </title>
</head>
    <body>

        <center><h2><font style="color: #9acfea;"><b>BisPhone.com คืออะไร?</b></font></h2></center>
        <center><h5><font style="color: red;"><b>**เกี่ยวกับร้านค้าของเราที่หลายคนอยากจะรู้</b></font></h5></center>
        <br>
        <hr size="100%">


            <tr><td><div style="width: 70%;"><font style="color: #2b669a; margin: 0 auto;">&nbsp;&nbsp;&nbsp; " BIS4QPhone เป็นเว็บไซต์ออนไลน์ขายโทรศัพท์มือถือ อันดับ1 ของเมืองไทย มีลูกค้าเข้าชมวันเฉลี่ยละ 1,000,000 คน/วัน และมียอดการซื้อโทรศัพท์มือถือจากเว็บ BIS4QPhone วันละ500,000คน/วัน ดังนั้น
                ก็เปรียบได้ว่าทางเว็บเรานั้นได้รับความเชื่อถือจากลูกค้าเป็นอย่างมาก."</font></div> </td></tr>

    </body>
</html>