@(basketList: List[Basket])
@if(flash.containsKey("saveBill")){
    <center><div class="alert alert-success"><strong>สำเร็จ</strong>@flash.get("saveBill"). </div></center>
}
<br>
<div class="row">
    <div class="col-md-12">
        <h2  align="center">ตระกร้าสินค้า</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="col-md-12">
            <table class="table table-hover">
                <th>รหัสสินค้า</th>
                <th>ชื่อสินค้า</th>
                <th>ประเภทสินค้า</th>
                <th>ราคา</th>
                <th>จำนวน</th>
                <th>ลบ</th>
                @if(basketList != null){
                    @for(basket <- basketList){

                        <tr>
                            <td>@basket.getProduct.getId</td>
                            <td>@basket.getProduct.getName </td>
                            <td>@basket.getProduct.getBrand.getName </td>
                            <td>@basket.getProduct.getPrice</td>
                            <td>@basket.getAmount</td>
                            <td> <a href="/removeItem/@basket.getProduct.getId" onclick="return confirm('คุณต้องการที่จะลบสินค้านี่ออกจากตระกร้าใช่หรือไม่')"><i class="material-icons">delete</i></a><br></td>
                        </tr>


                    }
                }else{
                    <center> <div class="alert alert-danger"><strong>ไม่มีสินค้า</strong>ไม่มีสินค้าในตระกร้า</div></center>

                }
            </table>
            <center>
                <a href="/checkBill" class="btn btn-success">ยืนยันการสั่งซื้อ</a>
                <a href="/" class="btn btn-info">เลือกสินค้าเพิ่ม</a>
            </center>
        </div>
        <br><br><br>
    </div>
</div>
