@(basketList: List[Basket],users: User)
<br>
<div class="row">
    <div class="col-md-12">
        <h2>ยืนยันการสั่งซื้อ</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-hover">
            <th width="10%">รหัส</th>
            <th width="50%">ชื่อสินค้า</th>
            <th width="10%">ราคา</th>
            <th width="10%">จำนวน</th>
            <th width="20%">เป็นเงิน</th>

            @for(basket <- basketList){
                <tr>
                    <td>@basket.getProduct.getId</td>
                    <td>@basket.getProduct.getName</td>
                    <td>@basket.getProduct.getPrice</td>
                    <td>@basket.getAmount</td>
                    <td>@((basket.getProduct.getPrice)*( basket.getAmount))</td>

                </tr>
            }
            </table>
        <br>
        <a href="/saveBill" class="btn btn-success"> ยืนยันการสั่งซื้อ</a>
        <a href="/" class="btn btn-primary">เลือกสินค้าเพิ่ม</a>
    </div>
</div>
<br><br>

<h2>ที่อยู่ในการจัดส่ง</h2>

<div class="row">
    <div class="col-md-12">
        <table class="table table-hover">
            <tr>
                <th>ชื่อ</th>
                <td>@users.getName</td>
            </tr>
            <tr>
                <th>ที่อยู่</th>
                <td>@users.getAddress</td>
            </tr>
            <tr>
                <th>เบอร์โทร</th>
                <td>@users.getTel</td>
            </tr>
        </table>
    </div>
</div>